/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
}

/* TÍTULO h1 */
.titulo {
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
    left: 200px;
    top: 200px;
    padding: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 10px;
    align-items: center;
    text-align: center;
    text-indent: 10px;
    color: #425C81;
}

/*subtitulos*/
.subtitulo {
    font-family: 'Aclonica', sans-serif;
    font-size: 18px;
    color: #425C81;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

/*cuerpo*/
.cuerpo {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 14px;
    padding: 10px;
    flex: 1 1 100%;
    display: inline;
    overflow: hidden;
}

.lineaDivisora {
    size: 10px;
    height: 10px;
    width: 100%;
    padding: 2px;
    color: #425C81
}

/*estilos tipográficos*/

font-face {
    font-family: 'Aclonica', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
}

/*estilo tap bar*/

.menu {
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
    background-color: #F2F0E9;
    list-style-type: none;
    color: #425C81;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    width: 100px;
    height: 70px;
    left: 10px;
    top: 5px;
}

.lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.link {
    color: #425C81;
    text-decoration: none;
}

.link:active {
    color: #EDA148;
    text-decoration: underline;
}

.link:visited {
    color: #425C81
}

/*estilo scrolling*/

.catalogo-scroll-imagen {
    width: 200%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Aclonica', sans-serif;
    font-size: 18px;
    width: auto;
    height: 50px;
    padding: 10px;
    white-space: nowrap;
}

.scroll {
    width: 100px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 10;
    display: inline-block;
}

.imagen {
    padding: 0px;
    background: #fff;
}

/*estilo cards*/
.container__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
    margin: 10px;
}

.container__cardsHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 350px;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 0px 30px 0px 30px;
    font-family: 'Darker Grotesque', sans-serif;
    overflow: hidden;
}


.botonVerMas {
    background: #EAE5D1;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.verMas a {
    text-decoration: none;
    color: black;
}

.verMas a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "auto"
}

/*estilo Perfil*/

.perfil {
    background-color: #F2F0E9;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.perfilInfo {
    margin-left: 20px;
}

.foto {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url(perfil.jpg);
}

/*estilo novedades*/
.container__novedades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
    margin: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 0 0 15px 15px;
    font-family: sans-serif;
}

.pie {
    background: #EDA148;
    border-radius: 0 0 15px 15px;
    text-align: center;
    width: 250px;
    height: 100px;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}

/*estilo nevegacion inferior*/
.contactos {
    list-style-type: none;
    color: #425C81;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Aclonica', sans-serif;
    font-size: 18px;
    justify-content: space-evenly;
    align-items: center;
}

h5 {
    font-size: 20px;
    padding: 20px;
    font-family: 'Aclonica', sans-serif;
    font-weight: bold;
}


/*estilo footer*/
.conteiner__redes {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #EAE5D1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;

}

.barraInferior {
    background-color: #425C81;
}

footer {
    background-color: #425C81;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

h5 {
    /* texto derechos reservados */
    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

h6 {
    /* Website by AntoMAP */
    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}

/*Estilo de contacto*/

/*cuerpo*/

.container-imagen-fondo {
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../imagenes/frente\ 1.jpg)

}

.mapaContacto {
    padding: 10px;
}

.containerContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 16px;
    margin: 0px;
    background-color: beige;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 14px;
    justify-content: space-evenly;
    align-items: center;
}

.mapaContacto {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Aclonica', sans-serif;
    width: 300px;
    height: 400px;
    left: 350px;
    top: 150px;
    background-color: beige;
}

h4 {
    font-size: 24px;
    padding: auto;
    display: inline;
    color: #425C81;
}

h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
    padding: auto;
    display: inline;
    color: #425C81;
}

.catalogo {
    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #425C81;
    display: flex;
    align-items: center;
    text-align: center;
    text-indent: 10px;
}

.cardsPresupuesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px 0px 0px 15px;
    font-family: 'Aclonica', sans-serif;
    width: 300px;
    height: 400px;
    left: 350px;
    top: 150px;
    background-color: beige;

}

.elem-group {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
}

/*Galeria proyectos*/
.container__galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
}

.imgGaleria {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 10px;
    margin: 10px;
    background-color: #425C81;
    border: 1px solid lightgray;
    border-radius: 15px 0px 15px 0px;
}

@media only screen and (max-width: 768px) {}


@media only screen and (max-width:576px) {

    /*responsive generales*/
    /*tap bar*/
    .menu {
        flex-direction: column;
        align-items: center;
    }

    .lista {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        align-items: center;
    }

    /*footer*/
    footer {
        justify-content: space-around;
        align-items: center;
    }

    /*responsive index*/
    .perfil {
        flex-direction: column-reverse;
    }

    h3 {
        text-orientation: vertical;
    }

    .container__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .container__cardsHome {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .container__novedades {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .container__redes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .redes {
        flex-direction: column;
        align-items: center;
    }
    
    /*responsive proyectos/*
        /*galeria*/
    .container__galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    
    .imgGaleria {
        display: flex;
        justify-content: center;
    }
    

}


