$color-principal: #425C81;
$color-secundario:#F2F0E9;
$color-terciario:#EDA148;
$color-fondo:#FAF8F3;
$color-btn: #EAE5D1;
$fuente-principal:'Aclonica', sans-serif;
$fuentes-secundaria:'Poppins', sans-serif;